body {
    font-family: Georgia, 'Times New Roman', Times, serif;
	/*background-color: #c04600;*/
	background-image: linear-gradient(#c04600, #d33708);
}
/*
	"Lucida Sans Unicode", "Lucida Grande", sans-serif
*/


/*
	header
*/
.topnav {
	overflow: hidden;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	align-items: center;
	background-color: #b44606;
	text-align: center;
  }
  .topnav:hover {
	background-color: #e76012;
  }
  
  /* Style the topnav links */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
	cursor: pointer;
  }

.desc {
	font-family: sans-serif;
	background-color: #c34d08;
	width: 600px;
	margin: 0 auto;
	padding: 5px;
}
.desc:hover {
	background-color: #e76012;
}

.widgets {
	text-align: center;
}

.widgets a {
	text-decoration: none;
}

.vote {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #c34d08;
	width: 600px;
	margin: 0 auto;
	padding: 10px;
}

.vote:hover {
	background-color: #e76012;
}

.vote h3 {
	text-align: center;
}

.vote h3 a {
	text-decoration: none;
	color: white;
}

.vote h3 a:hover {
	color: black;
}

hr {
	width: 90%;
	color: #e76012;
}

.NotFound404 {
	text-align:center;
	color: black;
	font-family: sans-serif;
}

.invites {
	font-family: sans-serif;
	background-color: #c34d08;
	width: 600px;
	margin: 0 auto;
	padding: 5px;
}

.invites a {
	text-decoration: none;
	color: purple;
}

.invites:hover {
	background-color: #e76012;
}

.wumpus {
	font-family: sans-serif;
}

.Button-Thing {
	padding-top: 20%;
	padding-left: 38%;   
   }
   
   .button-1 {
	 color: rgb(255, 255, 255);
	 border: 2px solid #ffffff;
	 width: 30%;
	 border: solid;
	 border-radius: 30px;
	 text-align: center;
	 overflow: hidden;
	 font-family: sans-serif;
	 align-items: center;
	 background-color: #c34d08;
	 text-align: center;
   }
   
   .button-1 {
	   float: left;
	   display: block;
	   color: #f2f2f2;
	   text-align: center;
	   padding: 14px 16px;
	   text-decoration: none;
   }
   
 /*  .button-1 a:hover {
	 cursor: pointer;
   }*/

.button-1:hover {
	background-color: #e76012;
}
/*
#lol {
	cursor: default;
}

#lol e ::after {
	padding-left: 0px;
}*/

/*.this-is-a-thing {
	visibility: hidden;	
	margin-left: 10px;
	font-size: 22px;
	-ms-flex-item-align: center;
	align-self: center;
	background: url(https://discord.com/assets/40e8a44f9e49d1d30b81b03f7065b738.svg);
	width: 14px;
	height: 14px;
}*/

h3 a{
	text-decoration: none;
	color: black;
}

.stfu {
	text-decoration: none;
	color: black;
}